{% block title %}Home{% endblock %}
{% block header %}Home{% endblock %}
{% set active_page = 'home' %}
{% block content %}
<p>
    <em>webgloss</em> allows you to extract grammatical information from glosses.
</p>
<form method="post" class="pure-form pure-form-stacked">
    <fieldset>
        <div class="pure-g">
            <div class="pure-u-1">
                <label for="pos">Part of Speech</label>
                <select id="pos" name="pos">
                    <option value="adj">Adjective</option>
                    <option value="adv">Adverb</option>
                    <option value="art">Definite article</option>
                    <option value="noun">Noun</option>
                    <option value="prep">Preposition</option>
                    <option value="verb">Verb</option>
                </select>
            </div>
            <div class="pure-u-1">
                <label for="gloss">Gloss</label>
                <textarea id="gloss" name="gloss"></textarea>
            </div>
        </div>
        <input type="submit" class="pure-button pure-button-primary" value="Parse"/>
    </fieldset>
</form>
{% endblock %}
